@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
body.b {
    background: rgb(12, 12, 1);
    color: rgb(196, 240, 230);
    margin: 0;
}
select.s {
    width: 300px;
}
div#content {
    text-align: left;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 8px gray;
    background-color: rgb(24, 43, 43);
    font-size: 12px;
}
h1.x, h2.x {
    font-family: cursive;
}
.c {
    text-align: center;
}
.grid { 
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(580px, 1fr));
  grid-gap: 50px;
  align-items: stretch;
}
a.a {
    font-family: 'Kanit', sans-serif;
    cursor: pointer;
    color:rgb(255, 251, 202);
    text-decoration: none;
    margin: 6px;
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 4px;
    padding-bottom: 3px;
    background-color: rgb(9, 29, 52);
    border-radius: 8px;
    box-shadow: 0px 0px 8px gray;
}
div.m20 {
    margin: 20px;
}
a.a:hover {
    color:rgb(183, 236, 255);
    background-color: rgb(72, 72, 15);
    box-shadow: 0px 0px 12px rgb(201, 201, 201);
}
a.a:active {
    color:rgb(183, 236, 255);
    background-color: rgb(72, 15, 15);
    box-shadow: 0px 0px 12px rgb(201, 201, 201);
}
a.a:visited {
    color:rgb(226, 249, 201);
}
code#code {
    border-radius: 12px;
    box-shadow: 0px 0px 8px gray;
    font-family: 'Courier Prime', monospace;
    font-size: smaller;
}
h1.h {
    font-size: 20px;
}
h2.h {
    font-size: 16px;
}
h3.h {
    font-size: 12px;
}
div.imgcont {
    background-color: rgb(237, 237, 237);
    border-radius: 8px;
    box-shadow: 0px 0px 8px gray;
    text-align: center;
}
img.i {
    border-radius: 6px;
    box-shadow: 0px 0px 8px gray;
}
td, th {
    color: black;
}
.navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    text-shadow: 1px 1px 3px black;
    list-style: none;
    margin: 0; 
    background: rgb(2, 98, 130);
}

.navigation a {
    text-decoration: none;
    display: block;
    padding: 10px;
    color: white;
}

.navigation a:hover {
    background: #1b334f;
}

@media all and (max-width: 800px) {
    .navigation {
        justify-content: space-around;
    }
}

@media all and (max-width: 700px) {
    .navigation {
        flex-flow: column wrap;
        padding: 0;
    }
    .navigation a { 
        text-align: center; 
        padding: 10px;
        border-top: 1px solid rgba(255, 255, 255,0.3); 
        border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
    }
    .navigation li:last-of-type a {
        border-bottom: none;
    }
}

div#content a {
    color: antiquewhite;
}

div#content a:hover {
    color: rgb(249, 175, 158);
}

div#content a:visited {
    color: rgb(184, 208, 223);
}
