body {
    color: rgb(61, 21, 21);
    text-shadow: 1px 1px 3px rgb(93, 85, 85);
    text-align: center;
    background-color: rgb(150, 219, 219);
}
input {
    width: 300px;
}
span.pe {
    display: inline-block;
    padding: 4px;
    margin: 3px;
    width: 30px;
    border-radius: 10px;
    box-shadow: 1px 1px 3px black;
    background-color: rgb(240, 192, 244);
    border: solid 3px rgb(176, 20, 20);
}
table {
    margin: 15px auto;
    padding: 7px;
    border:solid 1px black;
    border-radius: 10px;
    background: linear-gradient(rgb(236, 255, 255), rgb(0, 155, 161));
    box-shadow: 1px 1px 3px black;
}
td {
    font-size: 10px;
    width: 20px;
    text-align: center;
    background-color: rgb(237, 174, 244);
    border-radius: 5px;
    box-shadow: 1px 1px 2px inset rgb(109, 104, 104);
    color: rgb(30, 74, 95);
}
td.b {
    color:rgb(114, 159, 226);
    text-shadow: 1px 1px 2px gray;
    background-color: rgb(179, 231, 230);
}
td.z {
    background-color: rgb(224, 212, 226);
}
div.mo {
    color:rgb(99, 57, 30);
}
div.mo i {
    color:rgb(175, 96, 47);
}
::selection {
    color: rgb(184, 250, 255);
    background: rgb(63, 135, 159);
}
span.ossz {
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 20px;
    background-color: antiquewhite;
    border-radius: 5px;
    border:solid 0.4px black;
}