@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,wght@0,300;1,300&display=swap');
* {
    text-shadow: 1px 1px 2px rgb(67, 64, 64);
    text-align: center;
}
h1 {
    color: rgb(77, 23, 23);
    font-size: 30px;
    user-select: none;
    font-family: 'Playfair', serif;
}
td, th {
    margin: 7px;
    padding: 4px;
    padding-left: 9px;
    border-radius: 5px;
    min-width: 50px;
    opacity: 0.95;
    vertical-align: top;
}
th {
    box-shadow: 1px 1px 3px black;
    color: rgb(230, 246, 246);
    background: rgb(30, 59, 60);
    text-align: center;
    padding: 4px;
}
td {
    border: solid 0.5px black; 
    box-shadow: 1px 1px 3px black;
    color: rgb(11, 35, 35);
    background: rgb(236, 236, 228);
    text-align: left;
    padding: 2px;
    padding-right: 10px;
    padding-left: 10px;
}
td.n {
    text-align: right;
    padding-right: 7px;
    padding-left: 7px;
    color:rgb(2, 75, 75);
    background-color: rgb(207, 222, 221);
}
body {
    background-color: rgb(234, 234, 214);
    padding: 20mm;
    padding-top: 0px;
    padding-bottom: 0px;
}
textarea {
    width: 99%;
    text-align: left;
    min-height: 50px;
    margin-top: 14px;
    box-shadow: 1px 1px 6px inset black;
    padding: 6px;
}
div.done {
    background-color: aquamarine;
    color:rgb(32, 67, 55);
    margin: 8px;
    padding: 10px;
    box-shadow: 1px 1px 3px inset black;
    border-radius: 9px;
}
div.err {
    background-color: rgb(255, 140, 127);
    color:rgb(67, 36, 32);
    margin: 8px;
    padding: 10px;
    box-shadow: 1px 1px 3px inset black;
    border-radius: 9px;
}
table {
    border-spacing: 2px;
    margin: 1px auto;
    background-color: rgb(246, 241, 205);
    color:rgb(67, 36, 32);
    box-shadow: 1px 1px 3px inset black;
    border-radius: 9px;
    padding: 2px;
    font-size: 13px;
}
pre.b {
    display: inline-block;
    background-color: rgb(203, 233, 223);
    cursor: pointer;
    padding: 3px;
    margin: 2px;
    border: solid 1px black;
    box-shadow: 1px 1px 2px rgb(49, 45, 45);
    font-size: 10px;
    color:rgb(32, 67, 55);
    user-select: none;
}
pre.b:hover {
    background-color: rgb(212, 160, 113);
}
pre.b2, button.b3 {
    background-color: rgb(242, 158, 158);
    color:rgb(58, 2, 2)
}
button {
    cursor: pointer;
    color:rgb(31, 117, 117);
    background-color: rgb(222, 237, 172);
    user-select: none;
    margin: 3px;
    border: solid 1px rgb(111, 161, 173);
    box-shadow: 1px 1px 3px black;
}
button#run {
    color:rgb(10, 70, 70);
    background-color: rgb(149, 193, 128);
    border: solid 1px rgb(50, 50, 108);
}
button:hover {
    background-color: rgb(221, 170, 141);
}
button.cvm {
    color:rgb(70, 39, 10);
    background-color: rgb(193, 180, 128);
    border: solid 1px rgb(50, 50, 108);
}
button:active {
    background-color: rgb(178, 207, 152);
    box-shadow: 0px 0px 3px rgb(0, 0, 0);
}
div.res {
    min-height: 60px;
    box-shadow: 1px 1px 6px black;
    border-radius: 10px;
    background-color: rgb(53, 116, 105);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 6px;
    padding-bottom: 1px;
}
div.mv {
    background-color: rgb(136, 142, 115);
    border: solid 1px rgb(66, 88, 66);
    box-shadow: 1px 1px 4px inset black;
    padding: 5px;
}
input {
    text-align: left;
}
input#sep {
    width: 30px;
}
pre.l {
    border-radius: 6px;
    text-align: left;
    width: 95%;
    display: inline-block;
    background-color: rgb(245, 205, 193);
    padding: 3px;
    margin: 2px;
    padding-left: 6px;
    border: solid 0.5px black;
    box-shadow: 1px 1px 5px inset rgb(0, 0, 0);
    font-size: 10px;
}
i {
    color:rgb(71, 56, 13)
}
div.c1 {
    font-size: 16px;
    padding: 30px;
    color: rgb(94, 50, 4);
}
.c {
    text-align: left;
}
a {
    text-decoration: none;
    background-color: rgb(232, 197, 116);
    box-shadow: 1px 1px 3px black;
    padding: 2px;
    border-radius: 2px;
    color:rgb(94, 61, 61);
    font-size: 12px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a:hover {
    background-color: rgb(98, 98, 62);
    color: rgb(239, 215, 215);
}
b {
    color: rgb(129, 5, 5);
}
span.sep {
    margin-left: 15px;
    margin-right: 4px;
    margin-bottom: 0px;
    font-size: 10px;
    font-family: Arial;
    color: rgb(249, 221, 159);
    padding: 3px;
    user-select: none;
}
pre.c2 {
    background-color: rgb(255, 222, 196);
}
pre.b3 {
    background-color: rgb(134, 134, 230);
    color: yellow;
    display: none;
}
button.b3 {
    font-family: Monaco;
    font-size: 10px;
    padding-top: 2.5px;
    padding-bottom: 1.5px;
}
img {
    border-radius: 6px;
    box-shadow: 1px 1px 4px black;
    border: solid 9px rgb(53, 116, 105);
}
img.bal {
    height: 100px;
}
img.jobb {
    height: 170px;
}
table.fl {
    background: transparent;
    border: none;
    box-shadow: none;
    border-spacing: 0px;
}
table.fl td {
    border: none;
    background: transparent;
    text-align: justify;
    border-radius: 0px;
    box-shadow: none;
    font-size: 15px;
    text-shadow: 1px 1px 3px gray;
    color: rgb(47, 53, 67);
}
#minta {
    display: none;
}
td.bal {
    text-align: center;
}
#fsz {
    display: none;
    font-family: 'Playfair', serif;
    font-size: 14px;
}
h4 {
    padding: 0px;
    margin: 0px;
    margin-bottom: 5px;
    text-align: left;
    color: rgb(85, 9, 9);
}
.moc {
    text-align: right;
}
pre.cm {
    background-color: rgb(83, 83, 83);
    color: white;
    padding-right: 10px;
    padding-left: 10px;
}