
td {
    width: 60px;
    height: 60px;
    background-color: rgb(183, 206, 226);
    box-shadow: 1px 1px 3px inset black;
    border-radius: 4px;
    text-align: center;
    font-size: 65px;
    cursor: pointer;
}
td:hover {
    background-color: rgb(71, 146, 146);
}
td.x1 {
    background-color: rgb(95, 118, 132);
}
td.x1:hover {
    background-color: rgb(9, 63, 63);
}
span.b {
    color: rgb(12, 16, 64);
    text-shadow: 0px 0px 6px rgb(243, 252, 160);
}
td.w {
    color:rgb(135, 238, 229);
    text-shadow: 0px 0px 6px rgb(11, 55, 64);
}
table {
    border-spacing: 7px;
    margin:auto ; 
    background-color: rgb(181, 216, 215);
    padding: 7px;
    border-radius: 10px;
    box-shadow: 1px 1px 3px inset;
    border: solid 3px rgb(19, 40, 78);
    user-select: none;
}
h1 {
    text-align: center;
    color:rgb(19, 40, 78);
    text-shadow: 1px 1px 3px gray;
}
body {
    user-select: none;
    background-color: antiquewhite;
}
span {
    color:rgb(135, 238, 229);
    text-shadow: 0px 0px 6px rgb(55, 58, 34);
    cursor: grab;
    display: inline-block;
    height: 50px;
    margin-top: -30px;
}