body {
	display: inline-flex;
	margin: 0px;
  	flex-direction: column;
  	overflow: hidden;
}
#console {
	display:flex;
	order: 2;
	width: 500px;
	height: 700px;
	font-family: monospace;
	overflow: scroll;
	border: 1px solid lightgray;
	padding: 8px;
	margin: 2px;
	resize:both;
	background-color: rgb(8, 30, 51);
	color: rgb(255, 255, 189);
}
canvas {
	display:flex;
	order: 1;
	border: 1px solid lightgray;
	margin:5px;
}