div {
    text-align: center;
    text-shadow: 1px 1px 3px grey;
    font-size: 40px;
    font-weight: bold;
    color:rgb(43, 135, 151);
    display: block;
    padding: 15px;
    padding-top: 0px;
    padding-bottom: 3px;
    background-color: rgb(210, 243, 232);
    margin: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 3px black;
}
span {
    color:rgb(78, 66, 27);
}
body {
    display: flex;
    flex-wrap: wrap;
    background-color: antiquewhite;
}