* {
    background-color: rgb(233, 233, 207);
}
div.m {
    user-select: none;
    text-shadow: 1px 1px 3px black;
    margin:10px;
    padding: 20px;
    padding-bottom: 25px;
    font-size: 30px;
    position: absolute ;
    box-shadow: 1px 1px 6px black;
    border-radius: 12px;
    border: solid 2px;
}
