.source-code {
    font-family: source-code-pro, Courier New;
}

.output, .output-bg {
    background-color: #e7ffc9;
}

.output-bg {
    font-weight: bold;
}

.output {
    width: 32px;
    margin-right: 3px;
    margin-bottom: 1px;
    text-align: center;
    border-radius: 3px;
    box-shadow: 1px 1px 2px inset rgb(103, 95, 95);
    font-weight: bold;
    color:#204664;
}

.instr-bg {
    background-color: #E6F3FF;
}

.instr-bg a {
    color: inherit;
    cursor: pointer;
}

.stack-bg {
    background-color: #F8DCB4;
}

.memory-block {
    width: 1.8em;
    display: inline-block;
    text-align: center;
}

.marker {
    width: 1.8em;
    color: #FFF;
    border-radius: 2px;
}

.marker-ip {
    background-color: #428BCA;
}

.marker-sp {
    background-color: #EEA236;
}

.marker-a {
    background-color: #4D8C20;
}

.marker-b {
	background-color: #22D19D;
}

.marker-c {
	background-color: #A137ED;
}

.marker-d {
	background-color: #E81F1F;
}

.codelabel-line a {
    cursor: pointer;
}

p {
    margin: 0px;
    padding: 0px;
}

small.x1 {

    font-size: 6px;
}

span.ad {
    color: #428BCA;
}
.panel-title {
    color: #204664;
}

.ng-binding {
    text-shadow: 1px 1px 2px gray;
}
.xx td {
    width: 40px;
}
.xx .xxx {
    width: 60px;
}
a {
    cursor: pointer;
}