@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');
.source-code {
    font-family: 'Syne Mono', monospace;
    text-shadow: 1px 1px 3px gray;
    color: #10442e;
}

.output, .output-bg {
    background-color: rgb(175, 213, 197);
}

.output {
    width: 32px;
    margin-right: 3px;
    margin-bottom: 1px;
    text-align: center;
    border-radius: 3px;
    box-shadow: 1px 1px 2px inset rgb(103, 95, 95);
    font-weight: bold;
    color:#204664;
}

.instr-bg {
    background-color: #E6F3FF;
}

.instr-bg a {
    color: inherit;
    cursor: pointer;
}

.stack-bg {
    font-family: monospace;
    background-color: #F8DCB4;
}

.memory-block {
    width: 1.8em;
    display: inline-block;
    text-align: center;
}

.marker {
    width: 1.8em;
    color: #FFF;
    border-radius: 2px;
}

.marker-ip {
    background-color: #428BCA;
}

.marker-sp {
    background-color: #EEA236;
}

.marker-a {
    background-color: #4D8C20;
}

.marker-b {
	background-color: #22D19D;
}

.marker-c {
	background-color: #A137ED;
}

.marker-d {
	background-color: #E81F1F;
}

.codelabel-line a {
    cursor: pointer;
}

p {
    margin: 0px;
    padding: 0px;
}

small.x1 {
    font-size: 6px;
}

span.ad {
    color: #443010;
    font-family: 'Syne Mono', monospace;
}
.panel-title {
    color: #204664;
}

.ng-binding {
    text-shadow: 1px 1px 2px gray;
    color: #4b2305;
}

.output-bg {
    font-weight: bold;
    color: #10442e;
}

.xx td {
    width: 40px;
}
.xx .xxx {
    width: 60px;
}
a {
    cursor: pointer;
}
i {
    color: #8c3838;
    font-family: 'Syne Mono', monospace;
    text-shadow: 1px 1px 2px rgb(83, 95, 108);
    font-size: 13px;
}

textarea#sourceCode {
    background-color: rgb(255, 252, 203);
    box-shadow: 1px 1px 3px inset rgb(90, 82, 82);
}
span.num {
    color:#125b33;
    font-weight: 100;
}